PIHOLE_INTERFACE=eth0
{% if dns1 is defined %}
PIHOLE_DNS_1={{ dns1 }}
{% endif %}
{% if dns2 is defined %}
PIHOLE_DNS_2={{ dns2 }}
{% endif %}
{% if dns2 is defined %}
PIHOLE_DNS_3={{ dns3 }}
{% endif %}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
WEBPASSWORD={{ web_password }}
BLOCKING_ENABLED=true
REV_SERVER_CIDR=192.168.6.0/24
REV_SERVER_TARGET=192.168.6.1
REV_SERVER_DOMAIN=isolated
REV_SERVER=true
