{
  "Port": 9117,
  "LocalBindAddress": "127.0.0.1",
  "AllowExternal": true,
  "AllowCORS": false,
  "APIKey": "48kf92ai706dzuy4fvh2gj9hozag9e7p",
  "AdminPassword": "ec459f8999882ddcb8f3e1deb1a6a939756b6e58e9f7b9b0ec4889dd4e7c075346b555f804318b79fe040b5c6d9bb356be35364d4c6cc4e84408089697cb7321",
  "InstanceId": "zowcqt2au6uebyl484hbdxw6uqu45o5blqkmog9ecb2azth05b22posgu1clzu4s",
  "BlackholeDir": "",
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": "",
  "BaseUrlOverride": "",
  "CacheEnabled": true,
  "CacheTtl": 2100,
  "CacheMaxResultsPerIndexer": 1000,
  "FlareSolverrUrl": "",
  "FlareSolverrMaxTimeout": 55000,
  "OmdbApiKey": "",
  "OmdbApiUrl": "",
  "ProxyType": -1,
  "ProxyUrl": "",
  "ProxyPort": null,
  "ProxyUsername": "",
  "ProxyPassword": "",
  "ProxyIsAnonymous": true
}