{
    "alt-speed-down": {{ alt_speed_down | to_json }},
    "alt-speed-enabled": {{ alt_speed_enabled | to_json }},
    "alt-speed-time-begin": {{ alt_speed_time_begin | to_json }},
    "alt-speed-time-day": {{ alt_speed_time_day | to_json }},
    "alt-speed-time-enabled": {{ alt_speed_time_enabled | to_json }},
    "alt-speed-time-end": {{ alt_speed_time_end | to_json }},
    "alt-speed-up": {{ alt_speed_up | to_json }},
    "announce-ip-enabled": {{ announce_ip_enabled | to_json }},
    "announce-ip": {{ announce_ip | to_json }},
    "anti-brute-force-enabled": {{ anti_brute_force_enabled | to_json }},
    "anti-brute-force-threshold": {{ anti_brute_force_threshold | to_json }},
    "bind-address-ipv4": {{ bind_address_ipv4 | to_json }},
    "bind-address-ipv6": {{ bind_address_ipv6 | to_json }},
    "blocklist-enabled": {{ blocklist_enabled | to_json }},
    "blocklist-url": {{ blocklist_url | to_json }},
    "cache-size-mb": {{ cache_size_mb | to_json }},
    "default-trackers": {{ default_trackers | to_json }},
    "dht-enabled": {{ dht_enabled | to_json }},
    "download-dir": {{ download_dir | to_json }},
    "download-queue-enabled": {{ download_queue_enabled | to_json }},
    "download-queue-size": {{ download_queue_size | to_json }},
    "encryption": {{ encryption | to_json }},
    "idle-seeding-limit-enabled": {{ idle_seeding_limit_enabled | to_json }},
    "idle-seeding-limit": {{ idle_seeding_limit | to_json }},
    "incomplete-dir-enabled": {{ incomplete_dir_enabled | to_json }},
    "incomplete-dir": {{ incomplete_dir | to_json }},
    "lpd-enabled": {{ lpd_enabled | to_json }},
    "message-level": {{ message_level | to_json }},
    "peer-congestion-algorithm": {{ peer_congestion_algorithm | to_json }},
    "peer-id-ttl-hours": {{ peer_id_ttl_hours | to_json }},
    "peer-limit-global": {{ peer_limit_global | to_json }},
    "peer-limit-per-torrent": {{ peer_limit_per_torrent | to_json }},
    "peer-port-random-high": {{ peer_port_random_high | to_json }},
    "peer-port-random-low": {{ peer_port_random_low | to_json }},
    "peer-port-random-on-start": {{ peer_port_random_on_start | to_json }},
    "peer-port": {{ peer_port | to_json }},
    "peer-socket-tos": {{ peer_socket_tos | to_json }},
    "pex-enabled": {{ pex_enabled | to_json }},
    "port-forwarding-enabled": {{ port_forwarding_enabled | to_json }},
    "preallocation": {{ preallocation | to_json }},
    "prefetch-enabled": {{ prefetch_enabled | to_json }},
    "queue-stalled-enabled": {{ queue_stalled_enabled | to_json }},
    "queue-stalled-minutes": {{ queue_stalled_minutes | to_json }},
    "ratio-limit-enabled": {{ ratio_limit_enabled | to_json }},
    "ratio-limit": {{ ratio_limit | to_json }},
    "rename-partial-files": {{ rename_partial_files | to_json }},
    "rpc-authentication-required": {{ rpc_authentication_required | to_json }},
    "rpc-bind-address": {{ rpc_bind_address | to_json }},
    "rpc-enabled": {{ rpc_enabled | to_json }},
    "rpc-password": {{ rpc_password | to_json }},
    "rpc-port": {{ rpc_port | to_json }},
    "rpc-socket-mode": {{ rpc_socket_mode | to_json }},
    "rpc-url": {{ rpc_url | to_json }},
    "rpc-username": {{ rpc_username | to_json }},
    "rpc-whitelist-enabled": {{ rpc_whitelist_enabled | to_json }},
    "rpc-whitelist": {{ rpc_whitelist | to_json }},
    "rpc-host-whitelist": {{ rpc_host_whitelist | to_json }},
    "rpc-host-whitelist-enabled": {{ rpc_host_whitelist_enabled | to_json }},
    "scrape-paused-torrents-enabled": {{ scrape_paused_torrents_enabled | to_json }},
    "script-torrent-added-enabled": {{ script_torrent_added_enabled | to_json }},
    "script-torrent-added-filename": {{ script_torrent_added_filename | to_json }},
    "script-torrent-done-enabled": {{ script_torrent_done_enabled | to_json }},
    "script-torrent-done-filename": {{ script_torrent_done_filename | to_json }},
    "script-torrent-done-seeding-enabled": {{ script_torrent_done_seeding_enabled | to_json }},
    "script-torrent-done-seeding-filename": {{ script_torrent_done_seeding_filename | to_json }},
    "seed-queue-enabled": {{ seed_queue_enabled | to_json }},
    "seed-queue-size": {{ seed_queue_size | to_json }},
    "speed-limit-down-enabled": {{ speed_limit_down_enabled | to_json }},
    "speed-limit-down": {{ speed_limit_down | to_json }},
    "speed-limit-up-enabled": {{ speed_limit_up_enabled | to_json }},
    "speed-limit-up": {{ speed_limit_up | to_json }},
    "start-added-torrents": {{ start_added_torrents | to_json }},
    "tcp-enabled": {{ tcp_enabled | to_json }},
    "torrent-added-verify-mode": {{ torrent_added_verify_mode | to_json }},
    "trash-original-torrent-files": {{ trash_original_torrent_files | to_json }},
    "umask": {{ umask | to_json }},
    "upload-slots-per-torrent": {{ upload_slots_per_torrent | to_json }},
    "utp-enabled": {{ utp_enabled | to_json | to_json }}
}
