#!/bin/bash

src="$TR_TORRENT_DIR/$TR_TORRENT_NAME"

echo "running unrar for ${src}"

tmp=$(mktemp -d)

find "${src}" -name '*.rar' -execdir bash -c 'unrar e $0 "${tmp}"' {} \;

rsync -r "${tmp}/" "${src}/"

touch "${src}/.unrarred"