#!/bin/bash

foo() {
    cd "$0";
    test -f ".unrarred" && exit;
    echo "here: $(pwd)";
    echo "not unrarred";

    tmp=$(mktemp -d);
    unrar e *.rar "${tmp}"
    rsync -r "${tmp}/" .;
    rm -rf "${tmp}";

    touch .unrarred;
}

export -f foo

find {{ download_dir }} -mindepth 1  -type d -execdir bash -c 'foo "$0"' {} \;