services:
{% for container in containers_list %}
{% set container_name = container.keys() | list | first %}
# container: {{ container_name }}
{{ container_name }}:
  {{ container.docker | to_nice_yaml }}

{% endfor %}