{% for static in static_sites %}
#-------------------------------------------------------------------------------
# static site {{ static.name }}
{{ static.domain }} {
    root * {{ static.path }}
    encode gzip
    file_server {
        hide .git
    }

    log {
        output file /var/log/caddy/{{ static.domain }}.log
    }

    header {
        ?Cache-Control "max-age=1800"
    }
}

{% endfor %}

{% for proxy in reverse_proxies %}
#-------------------------------------------------------------------------------
# reverse proxy {{ proxy.name }}
{{ proxy.from }} {
{% if proxy.lan_only == 1 %}
	@denied not remote_ip private_ranges {{ (proxy.allowed_ips if proxy.allowed_ips is defined else []) | join(' ') }}
	abort @denied
{% endif %}

{% if proxy.tos is defined %}
{% for to in proxy.tos %}
	reverse_proxy {{ to.path }} {{ to.to }}
{% endfor %}
{% endif %}


{% if proxy.debug is defined and proxy.debug == 1 %}
	log {
		level DEBUG
		output stdout
	}
{% endif %}


reverse_proxy {{ proxy.to }} {
	{% if proxy.set_remote_host is defined %}
	header_up Host "{{ proxy.set_remote_host }}"
	{% endif %}

	{% if proxy.origin is defined %}
	header_up Origin "{{ proxy.origin }}"
	{% endif %}


	{% if proxy.tls is defined and proxy.tls == 1 %}
	transport http {
		tls
		{% if proxy.tls_verify is defined and proxy.tls_verify == 0 %}
		tls_insecure_skip_verify
		{% endif %}
	}
	{% endif %}
}

}
{% endfor %}
