# This is a complete configuration to deploy Loki backed by the filesystem.
# The index will be shipped to the storage via tsdb-shipper.

auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /tmp/loki

schema_config:
  configs:
    - from: 2020-05-15
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /tmp/loki/chunks
  index_queries_cache_config:
    memcached:
      batch_size: 100
      parallelism: 100
    memcached_client:
      host: 127.0.0.1
      addresses: "dns+127.0.0.1:11211"
      consistent_hash: true
querier:
  # Each `querier` component process runs a number of parallel workers to process queries simultaneously.
  # You may want to adjust this up or down depending on your resource usage
  # (more available cpu and memory can tolerate higher values and vice versa),
  # but we find the most success running at around `16` with tsdb
  max_concurrent: 16

ingester:
  chunk_encoding: snappy

query_range:
  cache_results: true
  results_cache:
    cache:
      memcached_client:
        consistent_hash: true
        host: 127.0.0.1
        addresses: "dns+127.0.0.1:11211"
        max_idle_conns: 16
        timeout: 500ms
        update_interval: 1m
chunk_store_config:
  chunk_cache_config:
    memcached:
      batch_size: 2
      parallelism: 2
    memcached_client:
      host: 127.0.0.1
      timeout: 60s
      addresses: "dns+127.0.0.1:11211"
    background:
      writeback_goroutines: 1
      writeback_buffer: 1000
      writeback_size_limit: 500MB
compactor:
  working_directory: "/tmp/deleted"
  retention_enabled: true
  delete_request_store: filesystem

table_manager:
  retention_deletes_enabled: true
  retention_period: 1d
