
auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  storage:
    s3:
      bucketnames: "loki-common"
      s3forcepathstyle: true
      insecure: true
      endpoint: http://{{ s3_endpoint }}
      region: {{ s3_region }}
      access_key_id: {{ s3_access_key }}
      secret_access_key: {{ s3_secret_key }}
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /var/lib/loki

schema_config:
  configs:
  - from: 2020-05-15
    store: tsdb
    object_store: s3
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /var/lib/loki/index
    cache_location: /var/lib/loki/index_cache
  aws:
    bucketnames: "loki-storage"
  index_queries_cache_config:
    memcached:
        batch_size: 3
        parallelism: 2
    memcached_client:
      addresses: "dns+127.0.0.1:11211"
ingester:
  chunk_encoding: snappy

ruler:
  storage:
    type: s3
    s3:
      bucketnames: "loki-rules"
  rule_path: /tmp/scratch
  alertmanager_url: http://localhost
  enable_api: true

query_range:
  cache_results: true
  results_cache:
    compression: snappy
    cache:
      default_validity: 72h
      memcached:
        batch_size: 3
        parallelism: 2
      memcached_client:
        addresses: "dns+127.0.0.1:11211"
        timeout: 60s

chunk_store_config:
  chunk_cache_config:
    memcached:
      batch_size: 3
      parallelism: 2
    memcached_client:
      addresses: "dns+127.0.0.1:11211"
      timeout: 60s
    background:
      writeback_goroutines: 1
      writeback_buffer: 1000
      writeback_size_limit: 500MB

# query_range:
#   cache_results: true
#   results_cache:
#     cache:
#       memcached_client:
#         consistent_hash: true
#         addresses: "dns+127.0.0.1:11211"
#         max_idle_conns: 16
#         timeout: 500ms
#         update_interval: 1m

# chunk_store_config:
#   chunk_cache_config:
#     memcached:
#       batch_size: 256
#       parallelism: 10
#     memcached_client:
#       addresses: "dns+127.0.0.1:11211"


limits_config:
  retention_period: 336h
  max_entries_limit_per_query: 30000

compactor:
  retention_enabled: true
  working_directory: "/var/lib/loki/deleted"
  compaction_interval: 5m
  retention_delete_delay: 1h
  retention_delete_worker_count: 150
  delete_request_store: s3