multitenancy_enabled: false

server:
  http_listen_port: 9009

  # Configure the server to allow messages up to 100MB.
  grpc_server_max_recv_msg_size: 104857600
  grpc_server_max_send_msg_size: 104857600
  grpc_server_max_concurrent_streams: 1000

common:
  storage:
    backend: s3
    s3:
      bucket_name: "mimir"
      bucket_lookup_type: path
      insecure: {{ s3_insecure }}
      endpoint: {{ s3_endpoint }}
      region: {{ s3_region }}
      access_key_id: {{ s3_access_key }}
      secret_access_key: {{ s3_secret_key }}
compactor:
  data_dir: /tmp/mimir/compactor
  sharding_ring:
    kvstore:
      store: inmemory

distributor:
  ring:
    kvstore:
      store: inmemory
  pool:
    health_check_ingesters: true

ingester:
  ring:
    # Use an in memory ring store, so we don't need to launch a Consul.
    kvstore:
      store: inmemory
    replication_factor: 1

ruler_storage:
  backend: s3
  s3:
    bucket_name: "mimir-ruler-storage"

# https://grafana.com/docs/mimir/latest/configure/configuration-parameters/#compactor
blocks_storage:
  backend: s3
  s3:
    bucket_name: "mimir-blocks-storage"