# SPDX-License-Identifier: MIT-0
---
- name: Check if docker-compose.yml exists
  ansible.builtin.stat:
    path: "{{ containers_project_path }}/docker-compose.yml"
  register: docker_compose_file

#----------------------------------------------------------------------------#
#                                Remove if empty                             #
#----------------------------------------------------------------------------#

- block:
    - name: Stop all services before delete
      community.docker.docker_compose_v2:
        project_src: "{{ containers_project_path }}"
        state: absent
        remove_orphans: true
      register: output

    - name: Remove docker file
      ansible.builtin.file:
        path: "{{ containers_project_path }}/docker-compose.yml"
        state: absent
  when: "docker_compose_file.stat.exists and (containers_list is not defined or containers_list | length < 1)"

#----------------------------------------------------------------------------#
#                                Start if changed                            #
#----------------------------------------------------------------------------#

- block:
    - name: Copy volume files if exist
      become: true
      ansible.builtin.copy:
        src: "{{ item.volume_data }}"
        dest: "{{ containers_project_path }}/volumes/"
        owner: 1000
        group: 1000
        mode: "0775"
        backup: no
      with_items: "{{ containers_list }}"
      when: item.volume_data is defined

    - name: Install the docker compose file
      ansible.builtin.template:
        src: docker-compose.yml.j2
        dest: "{{ containers_project_path }}/docker-compose.yml"
      register: docker_compose_template

    - name: Start all containers
      block:
        - name: Restart docker compose
          community.docker.docker_compose_v2:
            project_src: "{{ ansible_user_dir }}"
            state: present
            remove_orphans: true
  when: "containers_list is defined and containers_list | length > 0"
