#-------------------------------------------------------------------------------
# role: common

default_packages:
  - cifs-utils
  - python3
  - python3-pip
  - python3-venv
  - tmux
  - nfs-common

nfs_mounts:
  - src: pulsar.localdomain
    path: /volume1/torrents
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/torrents

  - src: pulsar2.localdomain
    path: /volume1/music
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/music

#-------------------------------------------------------------------------------
# role: beets

beet:
  music_directory: "/mnt/music/merged_library"
  plugins:
    - "info"
    # - "lastgenre"
    - "fetchart"
    - "embedart"
    - "web"
    - "discogs"
  discogs_token: "{{ secret.beet.discogs_token }}"
