#-------------------------------------------------------------------------------
# role: common

default_packages:
  - python3
  - python3-pip
  - python3-venv
  - tmux
  - nfs-common
  - software-properties-common

nfs_mounts:
  - src: pulsar.localdomain
    path: /volume1/torrents
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/torrents

  - src: pulsar.localdomain
    path: /volume1/tv-shows
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/series

  - src: pulsar.localdomain
    path: /volume1/movies
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/movies

  - src: pulsar2.localdomain
    path: /volume1/music
    opts: rw,sync,hard
    state: mounted
    fstype: nfs
    mountpoint: /mnt/music

#-------------------------------------------------------------------------------
# role: transmission

# create backup on the remote
# for d in $(ls); do tar -czf "/tmp/$d.tar.gz" $d; done
# pull them in locally
# scp root@pirate.localdomain:/tmp/jackett.tar.gz /tmp/                                                                     11:41:23
# scp root@pirate.localdomain:/tmp/sonarr.tar.gz /tmp/
# scp root@pirate.localdomain:/tmp/radarr.tar.gz /tmp/
# scp root@pirate.localdomain:/tmp/bazarr.tar.gz /tmp/
backups:
    - defined: "{{ true if radarr_backup is defined else false }}"
      name: radarr
      source: "{{ radarr_backup if radarr_backup is defined else '' }}"

    - defined: "{{ true if sonarr_backup is defined else false }}"
      name: sonarr
      source: "{{ sonarr_backup if sonarr_backup is defined else '' }}"

    - defined: "{{ true if bazarr_backup is defined else false }}"
      name: bazarr
      source: "{{ bazarr_backup if bazarr_backup is defined else '' }}"

    - defined: "{{ true if jackett_backup is defined else false }}"
      name: jackett
      source: "{{ jackett_backup if jackett_backup is defined else '' }}"


rpc_username: "transmission"
rpc_password: "{{ secret.transmission.rpc_password }}"
rpc_port:  9091
dht_enabled: false
ratio_limit_enabled: false
rpc_whitelist_enabled: false
script_torrent_done_filename: "/usr/local/bin/unrar.sh"
script_unrar_all_filename: "/usr/local/bin/unrar_all.sh"
upload_slots_per_torrent: 200
incomplete_dir: /mnt/torrents/incomplete
download_dir: /mnt/torrents/complete
audiobook_dir: /mnt/audiobook

timezone: "Europe/Brussels"