---
#-------------------------------------------------------------------------------
# role: common

default_packages:
  - git
  - net-tools
  - libnss3-tools

#-------------------------------------------------------------------------------
# role: caddy

caddy_os: linux
caddy_version: ""
caddy_update: true
caddy_packages: []

# allow caddy to bind to lower ports
caddy_setcap: true
caddy_systemd_capabilities_enabled: true
caddy_systemd_capabilities: "CAP_NET_BIND_SERVICE"

extra_ips: &extra_ips
  - "49.12.39.165" # development.loomy.be
  - "49.13.33.141" # production.loomy.be
  - "91.107.224.104" # prod.loomy.be variable
  - "88.198.40.214" # backend.loomy.be
  - "34.79.124.208" # development.loomy.be on gcp
static_sites:
  - name: "call-cc.be"
    domain: "call-cc.be"
    path: "/var/www/call-cc.be"

reverse_proxies:
  - name: "homeassistant"
    from: "homeassistant.call-cc.be"
    lan_only: yes
    to: "homeassistant.localdomain:8123"

  - name: "proxmox"
    from: "proxmox.call-cc.be"
    lan_only: yes
    debug: no
    tls: yes
    tls_verify: no
    to: "https://milkyway.localdomain:8006"

  - name: "andromeda"
    from: "andromeda.call-cc.be"
    lan_only: yes
    debug: no
    tls: yes
    tls_verify: no
    to: "https://andromeda.localdomain:8006"

  - name: "pbs"
    from: "pbs.call-cc.be"
    lan_only: yes
    debug: yes
    tls: yes
    tls_verify: no
    to: "https://pbe.localdomain:8007"

  - name: "transmission"
    from: "transmission.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:9091"

  - name: "bazarr"
    from: "bazarr.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:6767"

  - name: "jackett"
    from: "jackett.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:9117"

  - name: "radarr"
    from: "radarr.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:7878"

  - name: "sonarr"
    from: "sonarr.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:8989"

  - name: "audiobooks"
    from: "audiobooks.call-cc.be"
    set_remote_host: "audiobooks.call-cc.be"
    lan_only: yes
    to: "containers.localdomain:13378"

  - name: "synology"
    from: "synology.call-cc.be"
    lan_only: yes
    tls: yes
    tls_verify: no
    to: "pulsar.localdomain:8081"

  - name: "share"
    from: "share.call-cc.be"
    lan_only: no
    tls: yes
    tls_verify: no
    to: "pulsar.localdomain:8081"

  - name: "notifications.development.loomy.be"
    from: "notifications.development.loomy.be"
    lan_only: no
    to: "loomy-tools.localdomain:4001"

  - name: "weechat"
    from: "chat.call-cc.be"
    lan_only: yes
    to: "weechat.localdomain:1234"

  - name: "x0"
    from: "x0.call-cc.be"
    lan_only: no
    to: "imagehost.isolated:80"

  - name: "grafana"
    from: "observability.call-cc.be"
    lan_only: yes
    to: "grafana.isolated:3000"

  - name: "mimir"
    from: "mimir.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "grafana.isolated:9009"

  - name: "loki"
    from: "loki.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "grafana.isolated:3100"

  - name: "minio"
    from: "minio.call-cc.be"
    lan_only: yes
    to: "minio.isolated:9001"

  # - name: "kimber.be"
  #   from: "kimber.be"
  #   lan_only: no
  #   set_remote_host: "kimber-be.webflow.io"
  #   to: "https://kimber-be.webflow.io"
  #   debug: no
  #   tls: yes
  #   tls_verify: no

  - name: "s3"
    from: "s3.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "minio.isolated:9000"

  - name: "garage"
    from: "garage.andromeda.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "s3.localdomain:3900"

  - name: "grafana"
    from: "grafana.andromeda.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "monitoring.localdomain:3000"

  - name: "loki"
    from: "loki.andromeda.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "monitoring.localdomain:3100"

  - name: "mimir"
    from: "mimir.andromeda.call-cc.be"
    lan_only: yes
    allowed_ips: *extra_ips
    to: "monitoring.localdomain:9009"

  - name: "pihole"
    from: "pihole.coolify.call-cc.be"
    lan_only: true
    to: "http://pihole.localdomain"

  - name: "butler"
    from: "butler.call-cc.be"
    set_remote_host: "butler.call-cc.be"
    lan_only: no
    to: "butler.localdomain:4000"

  - name: "music"
    from: "music.call-cc.be"
    set_remote_host: "music.call-cc.be"
    lan_only: yes
    to: "clfy.localdomain:4533"

  - name: "kvm"
    from: "kvm.call-cc.be"
    set_remote_host: "kvm.call-cc.be"
    lan_only: yes
    to: "jetkvm.localdomain"
